registry "https://ankittiwari.jfrog.io/artifactory/api/npm/npm/
_auth=YW5raXQ5MDQ5OUBnbWFpbC5jb206Y21WbWRHdHVPakF4T2pFM01qa3dPRGM0TnpRNmJERllTMmhwYlhRMFNtNURWVXhGUjFoVU16Z3lkVlJ4ZFV0Rw==
always-auth=true"
