@import '@moneytracker/common/src/styles/mixins';

.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.categoryWrapper {
  display: flex;
  color: black;
  padding: 8px;
  border: 1px solid gray;
  margin: 0px 15px 10px 0;
  border-radius: 10px;
  > div {
    margin-right: 5px;
  }
  align-items: center;
}

.noData {
  @include noData;
}
