.credit-debit-summary {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  > p {
    margin: 0;
    margin-right: 10px;
  }
}

.summary {
  display: flex;
  align-items: center;

  > p {
    margin: 0;
    margin-right: 5px;
  }
}
