.transactionCard {
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  border-radius: 2px;
  font-size: 20px;

  & .title {
    margin: 0;
    width: 70%;
    overflow: scroll;
  }

  & .amount {
    margin: 0;
    width: 20%;
    text-align: end;
  }
}

.transactionCardCredit {
  font-size: 22px;
  color: green;
}
