@import 'src/styles/mixins';

.transactionCardWrapper {
  margin-top: 20px;
}

.transactionCardHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 10px;

  > div {
    font-size: 22px;
    font-weight: 780;
  }
}

.noData {
  @include noData;
}

.list {
  margin: 0 5px;
  padding: 0;
}