.fixedBottomNavBar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 240px);
  height: 10vh;
  justify-content: space-around;
  background-color:white;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-weight: normal;
  font-size: 16px;
  @media screen and (max-device-width: 960px){
    width: 100vw;
  }
  button {
    background: none;
    border: none;
    padding: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      color: black;
    }

    .text {
      font-size: 18px;
      color: black;
      line-height: 22px;
      font-weight: 400;
    }
  }
}
