.transactionSummary {
  padding: 5px 0;
  border-radius: 15px;
  box-shadow: 0 1px lightgrey;
  font-weight: 500;
  font-size: 20px;
}

.transactionSummaryTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  > p {
    margin: 0;
    margin-right: 10px;
  }
}