.transactionSummary {
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-weight: 500;
  font-size: 20px;
}

.transactionSummaryTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  > p {
    margin: 0 10px 0 0;
  }
}