@import "src/styles/mixins";

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  @include button;

  &.delete {
    background-color: #e51d1d;
  }

  &.edit {
    background-color: #3f51b5;
  }
}
