@import 'src/styles/mixins';

.flexWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactionCategoryInput {
  display: flex;
  flex-direction: column;
}

.transactionCategoryInputLabel {
  color: gray;
}

.categoryInput {
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  max-height: 87px;
  overflow: scroll;
}

.category {
  color: black;
  padding: 5px;
  border: 1px solid gray;
  margin: 3px;
  border-radius: 10px;
}

.categorySelected {
  background-color: lightgray;
  border: none;
}

.noData {
  @include noData;
  width: 100vw;
}


