@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/spacing';
@import 'src/styles/fonts';
.modalWrapper {
  padding: $spacing-2;
}

.modalTitle {
  margin: $spacing-2 0;
  font-size: 20px;
  font-weight: normal;
}

.fieldSet {
  display: flex;
  justify-content: space-between;
  height: $spacing-8;
  align-items: center;
  margin: 16px 0;
}

.fieldSetLabel {
  font-size: $form-label-font-size;
  color: $gray;
}

.radioGroupWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  @include button;
}
