@import 'src/styles/mixins';

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  justify-content: space-between;
}

.addTransactionModalButton {
  @include button;
}