.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

.list {
  margin: 0px 5px;
  padding: 0px;
}

.transaction-summary-card {
  margin: 5px 5px;
  padding: 0px;
  border-bottom: 1px solid grey;
  border-radius: 2px;
  box-shadow: 0px 1px lightgrey;
}

.transaction-summary-card h2 {
  margin: 0px;
}

.transaction-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.transaction-card {
  height: 40px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  border-radius: 2px;
  box-shadow: 1px 1px lightgrey
}

.transactions-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.loader-position {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-field {
  display: flex;
  justify-content: space-between;
}

.edit-field-input {
  width: 50%;
  border: none;
  padding-right: 10px;
  font-size: 18px;
}

.transaction-card-text {
  font-size: 18px;
}

.edit-field-input-amt {
  text-align: end;
}

.edit-field input:focus {
  outline: none;
}

.no-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-and-add-icon {
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: space-between;
  padding: 0px 10px;
}
.quote {
  font-size: 18px;
  color: #2d6dec;
}
.date-picker {
  margin-top:20px;
}